<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" enctype = "multipart/form-data" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" placeholder="campground title" required>
                <div class="valid-feedback text-warning">
                    Title looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" placeholder="campground location" required>
                <div class="valid-feedback text-warning">
                    Nice Location!
                </div>
            </div>
            

            <!--
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Image looks beautiful!
                </div>
            -->
            
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label" style="background-color: #f2d492;">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                </div>
            </div>

            <div class="mb-5">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" placeholder="Describe the campground"
                    required></textarea>
                <div class="valid-feedback text-warning">
                    Nice Description!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple >
                    <label for="image" class="form-file-label">
                        <span class="form-file-text custom-file-label" style="background-color: #dfd6c0;">Choose images(s)...</span>
                        <span class="form-file-button" style="background-color: #f2d492;">Browse</span>
                    </label>
                </div>
                <div class="valid-feedback text-warning">
                    Images look Beautiful!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn">Add Campground</button>
                <a href="/campgrounds" class="btn">All Campgrounds</a>
            </div>

        </form>
        
    </div>
</div>


